body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#containerFooter {
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}



#webFooter {
    padding-top: 30px;
    font-size: 12px;
}

#credit {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
}

    #credit a {
        color: white;
        text-decoration: none;
        position: relative;
    }

        #credit a::after {
            content: "";
            background: white;
            mix-blend-mode: exclusion;
            width: calc(100% + 18px);
            height: 0;
            position: absolute;
            bottom: -4px;
            left: -10px;
            transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
